[firsthost]
	hostname = "first"
	remote_folder = "/something/"
	rsync_options = ["--delete", "--update"]

[secondhost]
	hostname = "second"
	remote_folder = "/something/"
	rsync_options = ["-v"]
	default = true

[inversehost]
	hostname = "second"
	local_folder = "/some/thing/"
	remote_folder = "/some/thang/"
	gather = true
	rsync_options = ["--update"]
