language: python
python:
- '3.5'
sudo: required
services:
- docker
addons:
  apt:
    packages:
    - sshpass
before_install:
- ssh-keygen -b 2048 -t rsa -q -N "" -f ~/.ssh/id_rsa
- cp tests/ssh_config ~/.ssh/config
- chmod 600 ~/.ssh/config
- docker pull rastasheep/ubuntu-sshd
- docker run -d -p 2222:22 --name docker_sshd rastasheep/ubuntu-sshd
- sshpass -p "root" ssh-copy-id -p 2222 root@localhost
- ssh lhost "apt-get install -yq rsync"
- ssh lhost "mkdir -p tests/"
- "./tests/install-bats.sh"
install:
- pwd
- pip install .
before_script:
- export PATH="${HOME}/.local/bin:${PATH}"
- cd tests
script:
- ../rbc.py lhost
- bats travis_test.bats
- bats test.bats
