language: python
python:
- '3.5'
sudo: required
services:
- docker
addons:
  apt:
    packages:
    - sshpass
    - rsync
before_install:
- openssl aes-256-cbc -K $encrypted_22e99d9f117d_key -iv $encrypted_22e99d9f117d_iv
  -in tests/test_rsa.enc -out tests/test_rsa -d
- chmod 600 tests/test_rsa
- ssh -i tests/test_rsa -o StrictHostKeyChecking=no rsynctest@$TEST_HOST "ls ."
- ssh-keygen -b 2048 -t rsa -q -N "" -f ~/.ssh/id_rsa
- cp tests/ssh_config ~/.ssh/config
- chmod 600 ~/.ssh/config
- docker pull rastasheep/ubuntu-sshd
- docker run -d -p 2222:22 --name docker_sshd rastasheep/ubuntu-sshd
- sshpass -p "root" ssh-copy-id -p 2222 root@localhost
- ssh -p 2222 root@localhost "echo 'Im in!'"
- ssh lhost "echo 'Im still in?'"
- "./tests/install-bats.sh"
- which rsync
- rsync --version
install:
- pwd
- pip install .
before_script:
- export PATH="${HOME}/.local/bin:${PATH}"
- cd tests
script:
- rsync --archive --human-readable -v --recursive --compress --cvs-exclude --exclude=*.bin
  --exclude=.sync.toml --port 2222 . root@localhost~/
- rsync --archive --human-readable -v --recursive --compress --cvs-exclude --exclude=*.bin
  --exclude=.sync.toml . root@localhost~/
- rsync --archive --human-readable -v --recursive --compress --cvs-exclude --exclude=*.bin
  --exclude=.sync.toml . root@lhost~/
- rsync --archive --human-readable -v --recursive --compress --cvs-exclude --exclude=*.bin
  --exclude=.sync.toml . lhost~/
- ls -al
- rsync --archive --human-readable -vvv --recursive --compress --cvs-exclude --exclude=*.bin
  --exclude=.sync.toml . lhost:~/
- rsync --archive --human-readable -v --recursive --compress --cvs-exclude --exclude=*.bin
  --exclude=.sync.toml -e "ssh -F $HOME/.ssh/config" . lhost~/
- rsync --archive --human-readable -vvvv --recursive --compress --cvs-exclude --exclude=*.bin
  --exclude=.sync.toml -e "ssh -F $HOME/.ssh/config" . lhost:~/
- ssh lhost "ls -a ."
- bats travis_test.bats
- ls -al ~/.ssh/config
