language: bash
sudo: required
services:
  - docker
addons:
    apt:
        packages:
            - sshpass

before_install:
  - ssh-keygen -b 2048 -t rsa -q -N "" -f ~/.ssh/id_rsa
  - echo "NoHostAuthenticationForLocalhost yes" >> ~/.ssh/config
  - ssh travis@localhost "echo 'Im in?'"
  - docker pull rastasheep/ubuntu-sshd
  - docker run -d -p 2222:22 --name docker_sshd rastasheep/ubuntu-sshd
  - sshpass -p "root" ssh-copy-id -p 2222 root@localhost
  - ssh -p 2222 root@localhost "echo 'Im in!'"
  - ./tests/install-bats.sh
before_script:
  - export PATH="${HOME}/.local/bin:${PATH}"
script:
  - (cd tests; bats travis_test.bats)
