language: python
python: 
  - "3.5"
sudo: required
services:
  - docker
addons:
    apt:
        packages:
            - sshpass
            - rsync

before_install:
  - ssh-keygen -b 2048 -t rsa -q -N "" -f ~/.ssh/id_rsa
  - cp tests/ssh_config ~/.ssh/config
  - docker pull rastasheep/ubuntu-sshd
  - docker run -d -p 2222:22 --name docker_sshd rastasheep/ubuntu-sshd
  - sshpass -p "root" ssh-copy-id -p 2222 root@localhost
  - ssh -p 2222 root@localhost "echo 'Im in!'"
  - ssh lhost "echo 'Im still in?'"
  - ./tests/install-bats.sh
  - which rsync
  - rsync --version
install:
  - pwd
  - pip install .
before_script:
  - export PATH="${HOME}/.local/bin:${PATH}"
  - cd tests
script:
  - rsync --archive --human-readable -v --recursive --compress --cvs-exclude --exclude=*.bin --exclude=.sync.toml -p 2222 . root@localhost~/
  - ssh lhost "ls -a ."
  - bats travis_test.bats
